* {
  box-sizing: border-box;
  --white: 255, 255, 255;
  --black: 18, 18, 18;
  --orange: 243, 145, 35;
  --navy: 22, 24, 48;
  margin: 0px;
  font-family: edita, serif;
font-weight: 400;
font-style: normal;
}

html{
  font-size: 18px;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: pelago, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1{
  font-size: 5rem;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 1.6rem;
}

p{
  font-family: edita, serif;
font-weight: 400;
font-style: normal;
font-size: 1rem;
}

.white{
  color: rgb(var(--white));
}

.black{
  color: rgb(var(--black));
}

.orange{
  color: rgb(var(--orange));
}

.navy{
  color: rgb(var(--navy));
}

strong{
  font-weight: 700;
  font-style: italic;
}

main{
  padding-top: 70px;
  padding-inline: 20px;
  padding-bottom: 100px;
}

.center {
  display: flex;
  justify-content: space-between; 
  max-width: 1200px;
  margin: auto;
  padding-inline: 75px;
  min-height: 100vh;
  margin-top: 100px;
}

.flexColumn{
  flex-direction: column;
}

a {
  color: rgb(var(--navy));
  text-decoration: none;
  font-style: italic;
}

a:hover{
  text-decoration: underline;
  text-decoration-color: rgb(var(--orange));
  text-underline-offset: 3px;
}

@media (max-width: 930px) {
  .center{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

@media (max-width: 400px) {
  .center{
    padding-inline: 25px;
  }

}